* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: Quicksand, sans-serif;
}

.container {
    width: 90%;
}

/* start contact */
.contact {
    text-align: center;
    color: white;
    padding: 30px 40px;
    background-color: rgb(25, 26, 28);
}

.contact h6 {
    color: rgb(205, 83, 0);
    font-family: 'Courier New', Courier, monospace;
}

#carouselExampleIndicators {
    background-color: rgb(25, 26, 28);
    padding: 10px;
}

.contact h1 {
    margin-bottom: 48px;
}

.carousel-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0s ease 0s;
    touch-action: manipulation;
}

.carousel-item {
    color: white;
    text-align: center;
    font-weight: 400;
    width: 690px;
    margin-right: 50px;
}

.carousel-inner .carousel-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: rgb(205, 83, 0);
}

.carousel-item h2 {
    font-size: 25px;
}

.carousel-item p {
    color: rgba(255, 255, 255, 0.507)
}

.carousel-indicators {
    position: relative;
}

.carousel-item .icon {
    font-size: 35px;
    color: rgb(205, 83, 0);
}

/* start landing-page */
.footer {
    color: white;
    text-align: left;
    background-color: black;
}

.footer-4 form button {
    background-color: rgb(205, 83, 0);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    height: 50px;
    border: none;
}

.footer-4 form input {
    border: none;
    height: 50px;
    color: rgb(91, 93, 92);
    background-color: rgb(25, 26, 28);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

#categories-4 a {
    text-decoration: none;
}

.footer-list {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-1 h2 {
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 34.6092px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-1 p {
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 16px;
    color: rgb(165, 162, 161);
    text-align: left;
    text-size-adjust: 100%;
}

.FooterSocial a * {
    color: rgb(255, 102, 0);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    width: 36px;
    transition-duration: 0.3s;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(25, 26, 27);
}

.FooterSocial a {
    transition-duration: 0.3s;
}

.FooterSocial {
    text-align: center;
}

.footer-2 h6 {
    line-height: 28px;
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.footer-2 li * {
    font-size: 18px;
    transition-duration: 0.5s;
    color: rgb(165, 162, 161);
}

.footer-2 .cat-item-2 {
    margin-bottom: 10px;
}

.footer-3 a {
    color: rgb(165, 162, 161);
    cursor: pointer;
}

.footer-3 h6 {
    font-size: 20px;
    font-family: Quicksand, sans-serif;
    margin-bottom: 20px;
    line-height: 28px;
}

.footer-4 h6 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}

.footer-4 p {
    outline-color: solid red;
    outline-width: 1px;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 26px;
    color: rgb(165, 162, 161);
}

.footer-4 form input {
    border-radius: 6px;
    width: 330px;
    font-size: 20px;
    padding: 20px 14px;
    background-color: rgb(25, 26, 28);
}

.footer-1 h2:hover {
    color: rgb(255, 102, 0);
}

.footer-1 .FooterSocial i:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}

.footer-2 a:hover {
    color: rgb(255, 102, 0);
}

.footer-3 a:hover {
    color: rgb(255, 102, 0);
}

.copyright {
    padding: 15px 0;
    font-size: 18px;
    color: rgb(221, 221, 221);
    background-color: black;
}

.item-CopyRights {
    margin: 0;
}

.item-CopyRights a {
    color: rgb(255, 102, 0);
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .item-CopyRights {
        text-align: center;
    }
}