/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: white;
    color: black;
}

/* Dark mode */
body.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .PageBlog {
    background-color: #1e1e1e;
}

body.dark-mode .title-subhny {
    color: #ff6600;
}

body.dark-mode .title-blog {
    color: white;
}

body.dark-mode .card {
    background: #2e2e2e;
    border: 1px solid #444;
}

body.dark-mode .card-header img {
    border-radius: 6px;
}

body.dark-mode .post-pos a {
    color: #ff6600;
}

body.dark-mode .post-pos a:hover {
    color: #d1c0ff;
}

body.dark-mode .card-body .blog-desc {
    color: white;
}

body.dark-mode .p-meta-info a {
    color: white;
}

body.dark-mode .read {
    color: white;
}

body.dark-mode .read:hover {
    color: #d1c0ff;
}

/* Dark mode categories */
body.dark-mode .categories {
    background: #1e1e1e;
    padding: 40px;
    margin-top: 40px;
}

body.dark-mode .categories__header h4 {
    color: #ff6600;
}

body.dark-mode .categories__header h2 {
    color: white;
}

body.dark-mode .categories .card-body {
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}

body.dark-mode .categories .card-body h5 {
    color: #fff;
}

body.dark-mode .categories .card-body p {
    color: #fcb900;
}

body.dark-mode .categories .card-img-top {
    transition: 0.5s;
    border-radius: 14px;
}

body.dark-mode .categories .card::before {
    background-color: rgba(0, 0, 0, 0.3); /* Adjusted for dark mode */
}

body.dark-mode .categories .card:hover::before {
    background-color: rgba(0, 0, 0, 0.4); /* Darker hover effect */
}

/* Dark mode toggle switch button */
body.dark-mode #switchButton i.far.fa-moon {
    display: none;
}

body.dark-mode #switchButton i.far.fa-sun {
    display: inline;
}

#switchButton i.far.fa-sun {
    display: none;
}

#switchButton i.far.fa-moon {
    display: inline;
}

/* Dark mode feature */
body.dark-mode .feature {
    background: #1e1e1e;
}

body.dark-mode .feature .card {
    background: #2e2e2e;
    border: 1px solid #444;
}

body.dark-mode .feature .card-body i {
    background: rgba(130, 115, 252, 0.1);
    color: #ff6600;
}

body.dark-mode .feature .card-body i:hover {
    background: #ff6600;
    color: #fff;
}

body.dark-mode .feature .card-body p {
    color: #e0e0e0; 
}

body.dark-mode .feature .card-title p {
    color: #e0e0e0; /
}

body.dark-mode .feature .card-title-infor {
    color: #e0e0e0; 
}

/* start header */

header {
    position: absolute;
    z-index: 3;
    width: 100%;

}

header .header__logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

header .header__title {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

header .header__right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

header .header__bars {
    color: white;
    border: none;
    background: none;
    font-size: 1.95rem;
    text-align: center;
}

header form {
    position: relative;
}

header .search {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
}

header .search__input i {
    position: absolute;
    right: 10px;
    bottom: 15px;
}



header .navbar-toggler {
    color: #fff;
    font-size: 30px;
}

header .collapse {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

header .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .nav-link {
    font-size: 1.5rem;
    margin: 10px 0;
}
header .collapse i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #ff6600;
    color: #f1f1f1;
    border: none;
    border-radius: 14px;
    position: absolute;
    top: 20px;
    right: 40px;
}

@media screen and (min-width: 992px) {
    .header__title {
        flex-direction: row;
    }
    .header__logo {
        margin-bottom: 0;
    }
    .header__right {
        flex-direction: row;
    }
    .search__input {
        margin-bottom: 0;
    }
    .collapse {
        display: block;
        background-color: transparent;
    }
    .nav-link {
        margin: 0 1rem;
    }
}

/* end header  */

/* start banner */
.banner {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
        url("https://wp.w3layouts.com/diner/wp-content/themes/Diner/assets/images/banner1.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.banner__info {
    position: relative;
    z-index: 1;
    padding: 200px 20px;
    max-width: 600px;
    text-align: left;
    color: aliceblue;
}

.banner__info h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px
}

.banner__info p {
    font-size: 15px;
    line-height: 30px;
}

.banner__info button {
    height: 50px;
    width: 200px;
    line-height: 30px;
    border-radius: 10px;
    background: none;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.banner__info button:hover {
    background: white;
    color: #ff6600;
}
@media (max-width: 991px) {
    .banner {
        height: 400px;
    }
    .banner__info {
        padding: 150px 15px;
        max-width: 80%;
        text-align: center;
    }
    .banner__info h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .banner__info p {
        font-size: 14px;
        line-height: 25px;
    }
    .banner__info button {
        height: 45px;
        width: 180px;
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    .banner__info {
        padding: 100px 10px;
        max-width: 100%;
    }
    .banner__info h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .banner__info p {
        font-size: 12px;
        line-height: 20px;
    }
    .banner__info button {
        height: 40px;
        width: 150px;
        line-height: 25px;
    }
}
/* end banner */

/* start content */

.content {
    padding: 40px;
    margin-top: 40px;
}

.content .content__left p {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.content .content__left h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}


.content .content__right p {
    font-size: 18px;
    line-height: 30px;
}

@media (max-width: 987px) and (min-width: 768px) {
    .content {
        padding: 30px;
        margin-top: 30px;
    }
    .content .content__left p {
        font-size: 18px;
        line-height: 18px;
    }
    .content .content__left h3 {
        font-size: 34px;
        line-height: 44px;
    }
    .content .content__right p {
        font-size: 16px;
        line-height: 28px;
    }
}

/* Mobile  */
@media (max-width: 767px) {
    .content {
        padding: 20px;
        margin-top: 20px;
    }
    .content .content__left p {
        font-size: 16px;
        line-height: 16px;
    }
    .content .content__left h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .content .content__right p {
        font-size: 14px;
        line-height: 26px;
    }
}

/* end content */

/* start agent */
.agent {
    background: #ff6600;
}

.agent__left {
    background: url("./image/banner3.jpg") center/cover no-repeat;
    min-height: 600px;
    z-index: 1;
    position: relative;
}

.agent__content {
    padding: 60px 40px;
}

.agent__content h6,
.agent__content h3 {
    color: black;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.agent__content h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.agent__content p {
    color: #ffdfc9;
    font-weight: none;
}

.agent__subscribe {
    display: flex;
    padding: 0px 40px;
}

.agent__subscribe_left,
.agent__subscribe_right {
    display: flex;
    flex-direction: column;

}

.agent__subscribe_left i,
.agent__subscribe_right i {
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background: #fff;
    border-radius: 11px;
    color: #ff6600;
    font-size: 20px;
    transition: 0.5s;
}

.agent__subscribe_left h4,
.agent__subscribe_right h4 {
    font-weight: 600;
    margin: 20px 0px;
    font-size: 20px;
}

.agent__subscribe_left p,
.agent__subscribe_right p {
    color: #ffdfc9;
    font-size: 15px;
}

.agent__subscribe_left:hover i,
.agent__subscribe_right:hover i {
    color: #fcb900;
}
@media (max-width: 987px) {
    .agent__left,
    .agent__right {
        flex-direction: column;
        width: 100%;
    }

    .agent__left {
        order: 1;
        min-height: 300px;
    }

    .agent__right {
        order: 2;
        margin-top: 20px;
    }

    .agent__content {
        padding: 30px 20px;
    }

    .agent__content h6,
    .agent__content h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .agent__content h6 {
        font-size: 18px;
        line-height: 28px;
    }

    .agent__subscribe {
        flex-direction: column;
        padding: 20px;
    }

    .agent__subscribe_left,
    .agent__subscribe_right {
        margin-bottom: 20px;
    }

    .agent__subscribe_left i,
    .agent__subscribe_right i {
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 18px;
    }

    .agent__subscribe_left h4,
    .agent__subscribe_right h4 {
        font-size: 18px;
    }

    .agent__subscribe_left p,
    .agent__subscribe_right p {
        font-size: 14px;
    }
}

/* end agent */

/* start categories */

.categories {
    background: #f1f1f1;
    padding: 40px;
    margin-top: 40px;
}

.categories__header {
    text-align: center;
    margin-bottom: 50px;
}

.categories__header h4 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

.categories .card {
    position: relative;
    cursor: pointer;
    border: none;
}

.categories .col-12 {
    padding: 20px;
}

.categories .card-body {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    border-radius: 14px;
}

.card-body h5, 
.card-body p {
    font-weight: 700;
    margin: 0;
}

.card-body h5 {
    color: #fff;
    margin-bottom: 10px;
}

.card-body p {
    color: #fcb900;
}

.categories .card-img-top {
    transition: 0.5s;
    border-radius: 14px;
}

.categories .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 216, 216, 0.2); 
    opacity: 0; 
    transition: 0.3s;
}

.categories .card:hover::before {
    opacity: 1; 
}

@media (max-width: 767px) {
    .categories .col-4 {
        flex:  50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .categories .col-4 {
        flex: 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .categories .col-4 {
        flex:  30%;
        max-width: 30%;
    }
}

/* end categories */

/* start feature */
.feature {
    padding: 40px;
    margin-top: 40px;
}
.feature .card {
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 14px;
    border: 1px solid rgb(243, 243, 243);
    margin-bottom: 20px;
    background: #fff;
    
}

.feature .row {
    margin-right: -35px;
    margin-left: -15px;
}

.feature .col-12 {
    margin: 20px;
}

.feature .card-body i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    text-align: center;
    background: rgba(130, 115, 252, 0.05);
    color: #ff6600;
    cursor: pointer;
    transition: 0.5s;
}

.feature .card:hover i {
    background: #ff6600;
    color: #fff;
}

.feature .card-body p {
    color: rgb(73, 72, 72);
    font-weight: 400;
}

.feature .card-title {
    display: flex;
}

.feature .card-titlle-icons {
    margin-right: 20px;
}

.feature .card-title-infor {
    line-height: 32px;
    font-weight: 400;
}


/* end feature */
/* start contact */
.contact {
    text-align: center;
    color: white;
    padding: 30px 40px;
    background-color: rgb(25, 26, 28);
}

.contact h6 {
    color: rgb(205, 83, 0);
    font-family: 'Courier New', Courier, monospace;
}

#carouselExampleIndicators {
    background-color: rgb(25, 26, 28);
    padding: 10px;
}

.contact h1 {
    margin-bottom: 48px;
}

.carousel-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0s ease 0s;
    touch-action: manipulation;
}

.carousel-item {
    color: white;
    text-align: center;
    font-weight: 400;
    width: 690px;
    margin-right: 50px;
}

.carousel-inner .carousel-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: rgb(205, 83, 0);
}

.carousel-item h2 {
    font-size: 25px;
}

.carousel-item p {
    color: rgba(255, 255, 255, 0.507)
}

.carousel-indicators {
    position: relative;
    margin-left: 220px;
}

.carousel-item .icon {
    font-size: 35px;
    color: rgb(205, 83, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: Quicksand, sans-serif;
}

/* start counting up */
.midpage {
    background: url(https://wp.w3layouts.com/diner/wp-content/themes/Diner/assets/images/banner2.jpg);
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    height: 70vh;
    z-index: 1;
}

.midpage::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 15, 19, 0.66);
}

.welcome-text {
    position: relative;
    z-index: 100;
}

.page-title.px-lg-5 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 500;
}

.mid-buttons .btn-white {
    transition: 0.3s;
    margin-top: 48px;
    margin-right: 8px;
    padding: 12px 45px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(49, 52, 52);
}

.mid-buttons .btn-primary {
    transition: 0.3s;
    background-color: rgb(255, 102, 0);
    padding: 12px 45px;
    margin-top: 48px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 102, 0);
}

.mid-buttons .btn-white:hover {
    background-color: rgb(25, 26, 28);
}

.mid-buttons .btn-primary:hover {
    background-color: rgba(255, 102, 0, 0.884);
}



.counter {
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    border-radius: 8px;
}

.counter {
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin-top: -70px;
}

.counter span {
    padding: 25px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 26px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-color: rgba(255, 102, 0, 0.884);
}

.count-number {
    margin-top: 16px;
    font-size: 42px;
    font-weight: 600;
    color: black;
}

.count-text {
    font-size: 17px;
    font-weight: 600;
    color: rgb(114, 114, 114);
}

.counter:hover {
    transform: translateY(-15px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* end counting up */
/* start video */
.video-w3 {
    color: white;
    text-align: center;
    height: 110vh;
    
}

.video-item {
    background: rgb(25, 26, 28);
}

.video-container {
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    background-image: url(./img/banner3.jpg);
    background-position: center;
    background-size: auto;
    height: 500px;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
}

.video-container::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.video-container .play {
    border: dashed rgb(255, 117, 26) 1px;
}

.play:hover {
    border: none;
}

.video-container .play button {
    border-radius: 50%;
    border: none;
}

.video-container .play i {
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: 0.25s;
    border-radius: 50%;
    font-size: 26px;
    height: 80px;
    line-height: 80px;
    width: 80px;
    position: relative;
    color: rgb(255, 117, 26);
    background: rgb(25, 26, 28);
}

.video-container .play i:hover {
    transform: scale(1.5);
}

/* start pupup */
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.801);
    opacity: 0;
    pointer-events: none;
    color: white;
}

#modal-container.show {
    opacity: 1;
    pointer-events: all;
}

#moral {
    width: 100%;
    position: relative;
    transition: all 1s ease-in-out;
}

#modal-container.show #modal {
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(53, 53, 53, 0.25), 0 0 0 10px rgba(49, 49, 49, 0.25), 0 0 0 20px rgba(44, 44, 44, 0.082);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(46, 45, 45, 0.25), 0 0 0 20px rgba(80, 79, 79, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

@keyframes animation {
    0% {
        opacity: 0.5;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#small-dialog {
    padding: 40px 0;
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close {
    position: absolute;
    font-size: 28px;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: rgb(244, 244, 244);
}

/* end video */

/* start blog */
#video {
    background: rgb(25, 26, 28);
}

.PageBlog {
    background: #f1f1f1;
}


.title-subhny {
    font-family: Pacifico, cursive;
    color: #ff6600;
    font-size: 20px;
}

.title-blog {
    font-size: 32px;
    color: black;
    font-weight: 400;
}

.card {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.row * {
    border: none;
}

.row .card * {
    text-decoration: none;
}

.card-header img {
    width: 100%;
    position: relative;
    display: block;
    border-radius: 6px;
}

.post-pos {
    position: absolute;
    bottom: 40px;
    left: 5px;
    transition: 0.3s;
}

.post-pos a {
    color: #ff6600;
    text-decoration: none;
    transition: 0.3s;
    margin: 20px;
    transition: 0.5s;
}

.post-pos a:hover {
    color: #5431ac;
    text-decoration: none;
}

.card-body {
    display: block;
    flex: 1; 
    margin-top: 20px;
}

.p-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: auto;
}

.card-body .blog-desc {
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.p-meta-info * {
    color: black;
}

.read {
    display: flex;
    color: black;
    line-height: 24px;
    height: 24px;
    font-weight: 700;
    letter-spacing: break-word;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.url {
    padding-left: 20px;
}

.read {
    transition: 0.3s;
}

.read * {
    margin-left: 20px;
}

.p-meta-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.read:hover {
    color: rgb(204, 82, 0);
}

/* end blog */

/* start landing-page */
.footer {
    color: white;
    text-align: left;
    background-color: black;
}

.footer-4 form button {
    background-color: rgb(205, 83, 0);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    height: 50px;
    border: none;
}

.footer-4 form input {
    border: none;
    height: 50px;
    color: rgb(91, 93, 92);
    background-color: rgb(25, 26, 28);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

#categories-4 a {
    text-decoration: none;
}

.footer-list {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-1 h2 {
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 34.6092px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-1 p {
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 16px;
    color: rgb(165, 162, 161);
    text-align: left;
    text-size-adjust: 100%;
}

.FooterSocial a * {
    color: rgb(255, 102, 0);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    width: 36px;
    transition-duration: 0.3s;
    margin-right: 10px;
    text-align: center;
    background-color: rgb(25, 26, 27);
}

.FooterSocial a {
    transition-duration: 0.3s;
}

.FooterSocial {
    text-align: center;
}

.footer-2 h6 {
    line-height: 28px;
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.footer-2 li * {
    font-size: 18px;
    transition-duration: 0.5s;
    color: rgb(165, 162, 161);
}

.footer-2 .cat-item-2 {
    margin-bottom: 10px;
}

.footer-3 a {
    color: rgb(165, 162, 161);
    cursor: pointer;
}

.footer-3 h6 {
    font-size: 20px;
    font-family: Quicksand, sans-serif;
    margin-bottom: 20px;
    line-height: 28px;
}

.footer-4 h6 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 28px;
}

.footer-4 p {
    outline-color: solid red;
    outline-width: 1px;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 26px;
    color: rgb(165, 162, 161);
}

.footer-4 form input {
    border-radius: 6px;
    width: 330px;
    font-size: 20px;
    padding: 20px 14px;
    background-color: rgb(25, 26, 28);
}

.footer-1 h2:hover {
    color: rgb(255, 102, 0);
}

.footer-1 .FooterSocial i:hover {
    background-color: rgb(255, 102, 0);
    color: white;
}

.footer-2 a:hover {
    color: rgb(255, 102, 0);
}

.footer-3 a:hover {
    color: rgb(255, 102, 0);
}

.copyright {
    padding: 15px 0;
    font-size: 18px;
    color: rgb(221, 221, 221);
    background-color: black;
}

.item-CopyRights {
    margin: 0;
}

.item-CopyRights a {
    color: rgb(255, 102, 0);
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .item-CopyRights {
        text-align: center;
    }
}